/*.container-fluid {
    background-color: #302b63;
    height: 5rem;
}

.row {
    background-color: #00b09b;
    height: 4.7rem;
}
[class*="col-"] {
    background-color: #ACB6E5;
    height: 4.2rem;
    border:  2px rgba(0, 0, 0, 0.3);
}*/
body.singin-body {
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container.singin-container {
    margin-top: 5%;
}
.card.shadow-box {
    padding: 40px 0px 20px;
    background-color:#bdc3c7; /*verde, green*/
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 6);
     -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 6);
     -moz-box-shadow: 3px 4px 10px rgba(0, 0, 0, 6);
    
}
img.signin-image {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    /*width: 50%; /* it helps the image to rezise the pic*/
    
}
form.sigin-form {
    max-width: 350px;
    margin: auto; /* it centers the content*/
}

button.signin-btn {
    color:#fff;
    background-color:; 
    width: 100%;
    margin-bottom: 1.3rem;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 6);
      -weblit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 6);
      -moz-box-shadow: 3px 4px 10px rgba(0, 0, 0, 6);
    
    
}
a.new-account {
    font-family: monospace;
    font-size: 1.71rem;
    text-align: center;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: aliceblue;
}
a.new-account:hover {
    color: #f83600;
   
    
}
